body{
    text-align: center;
    margin: 10px auto;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

p{
  padding: 2.5px 0;
}

.loader {
    display: none;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 50px auto;
}

#ip-list{
padding: 10px 0;
}

.styled-scan {
background-color: #4CAF50; 
border: none; 
color: white; 
padding: 12px 24px; 
text-align: center; 
text-decoration: none; 
display: inline-block; 
font-size: 16px; 
margin: 4px 2px; 
cursor: pointer; 
border-radius: 4px;
transition: background-color 0.3s ease;
}

.styled-scan:hover {
background-color: #3e8e41; /* couleur de fond au survol */
}

@keyframes spin {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
}